.component {
    display: flex;
    flex: 1 1 auto;
    background-color: $dark-secondary;
    border-radius: $border-radius;
    padding: 3rem;
    margin: 2rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media screen and (max-width: $bp-s) {
        margin: 2rem 0;
    }
}