.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background-color: $dark-secondary;

    p {
        text-align: center;
        margin: 0;
    }
}