.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-secondary;
    padding: 2rem;

    h4 {
        margin: 0;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        > :last-child {
            margin-left: 2rem;
        }
    }

    @media screen and (max-width: $bp-s) {
        flex-direction: column;
        justify-content: center;

        &__buttons {
            flex-direction: column;
            margin-top: 1rem;
            flex: 0;

            > :last-child {
                margin-top: 1rem;
                margin-left: 0;
            }
        }
    }
}