html {
    font-size: 62.5%; // REM
}

body {
    font-family: 'Quicksand', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Font sizes
p,
a,
li,
span,
input,
label,
button,
option,
select {
    font-size: $base-font-size;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (6 - $i);
  }

  h#{$i}:not(:last-child) {
    margin-bottom: 2rem;
  }
}

// Other
a {
  text-decoration: none;
}