// Colors
$white: #EEEEEE;
$black: #000;

$dark-primary: #222831;
$dark-secondary: #3A4750;

$color-primary: #66ff66;
$color-danger: #ff6666;

// Fonts
$base-font-size: 18px;
$heading-scale: 6;

// Media Queries (max-width)
$bp-xs: 575.98px;
$bp-s:  767.98px;
$bp-m:  991.98px;
$bp-l:  1199.98px;

// Other
$border-radius: 5px;
$transition-time: .2s;
